In [507]:
import pandas as pd

df = pd.read_csv('dataset.csv', sep = ',')
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [508]:
#How many people of each race are represented in this dataset? 
# This should be a Pandas series with race names as the index labels. 
# (race column)
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [509]:
#What is the average age of men?
linhas=df[df['sex']=='Male']
round(linhas['age'].mean(),1)

39.4

In [510]:
#What is the percentage of people who have a Bachelor's degree?
linhas=df[df['education']=='Bachelors']
round((linhas['education'].count()/df['education'].count())*100,1)

16.4

In [511]:
#What percentage of people with advanced education 
# (Bachelors, Masters, or Doctorate) make more than 50K?
linhas=df[(df['education']=='Bachelors')|(df['education']=='Masters')|(df['education']=='Doctorate')]
round(linhas['salary'].value_counts(1)[1]*100,1)

C:\Users\35196\AppData\Local\Temp\ipykernel_20240\1587523341.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  round(linhas['salary'].value_counts(1)[1]*100,1)

46.5

In [512]:
#What percentage of people without advanced education make more than 50K?
linhas=df[(df['education']=='HS-grad')|(df['education']=='Some-college')|(df['education']=='Assoc-voc')|(df['education']=='11th')|(df['education']=='Assoc-acdm')|(df['education']=='10th')|(df['education']=='7th-8th')|(df['education']=='Prof-school')|(df['education']=='9th')|(df['education']=='12th')|(df['education']=='5th-6th')|(df['education']=='1st-4th')|(df['education']=='Preschool')]
round(linhas['salary'].value_counts(1)[1]*100,1)

C:\Users\35196\AppData\Local\Temp\ipykernel_20240\4112292241.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  round(linhas['salary'].value_counts(1)[1]*100,1)

17.4

In [513]:
#What is the minimum number of hours a person works per week?
df['hours-per-week'].min()

1

In [514]:
#What percentage of the people who work the minimum number of 
# hours per week have a salary of more than 50K?
linhas=df[df['hours-per-week']==1]
round(linhas['salary'].value_counts(1)[1]*100,1)

C:\Users\35196\AppData\Local\Temp\ipykernel_20240\3086341030.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  round(linhas['salary'].value_counts(1)[1]*100,1)

10.0

In [515]:
#What country has the highest percentage of people that earn >50K 
# and what is that percentage?
linhas=df[df['salary']=='>50K']
round(linhas['native-country'].value_counts(1)*100,1)

native-country
United-States         91.5
?                      1.9
Philippines            0.8
Germany                0.6
India                  0.5
Canada                 0.5
Mexico                 0.4
England                0.4
Italy                  0.3
Cuba                   0.3
Japan                  0.3
Taiwan                 0.3
China                  0.3
Iran                   0.2
South                  0.2
Puerto-Rico            0.2
Poland                 0.2
France                 0.2
Jamaica                0.1
El-Salvador            0.1
Greece                 0.1
Cambodia               0.1
Hong                   0.1
Yugoslavia             0.1
Ireland                0.1
Vietnam                0.1
Portugal               0.1
Haiti                  0.1
Ecuador                0.1
Thailand               0.0
Hungary                0.0
Guatemala              0.0
Scotland               0.0
Nicaragua              0.0
Trinadad&Tobago        0.0
Laos                   0.0
Columbia               0.0
Dominican-Republic     0.0
Peru                   0.0
Honduras               0.0
Name: proportion, dtype: float64

In [516]:
#Identify the most popular occupation for those who earn >50K in India.
linhas=df[(df.salary=='>50K')&(df['native-country']=='India')]
linhas['occupation'].value_counts()

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64